body {
  --c-heading: #000000;
  --c-body: #666666;
  --bg-pop: #f2f2f2;
  --bg: #ffffff;

  background: var(--bg);

  font-family: "Helvetica";
}

body.dark {
  --c-heading: #ffffff;
  --c-body: #ffffff80;
  --bg-pop: #ffffff20;
  --bg: #000000;

  background: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  color: var(--c-body);
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.date {
  margin-bottom: 1vh;
  color: var(--c-body);
  font-family: "Georgia";
  font-weight: 300;
}
